<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - site</title>

    <environment names="Development">        
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">        
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a asp-controller="Home" asp-action="Index" class="brand-logo" id="logo-container">
                <img src="~/images/logo-it.svg" width="200" height="64">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Solution">Soluções</a></li>
                <li><a asp-controller="Home" asp-action="About">Sobre</a></li>
                <li><a asp-controller="Home" asp-action="Lifestyle">Lifestyle</a></li>
                <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contato</a></li>
            </ul>
        </div>
    </nav>    
    <div class="container">
        @RenderBody()        
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l9 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">
                        Desde 2004 no mercado, a IT Extreme busca crescer e perpetuar o seu negócio. Para isso, prioriza o estabelecimento de relações 
						comerciais que propiciem o desenvolvimento mútuo da empresa, seus clientes, colaboradores e parceiros. 
						Regidos por essa ideologia, nos focamos em projetos que tenham foco estratégico, gerem vantagem competitiva sustentável para a IT Extreme, 
						agreguem valor e proporcionem retorno financeiro aos nossos acionistas.​
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="https://www.facebook.com/ITExtreme" target="_blank">Facebook</a></li>
                        <li><a class="white-text" href="https://plus.google.com/103056963143005713863/about" target="_blank">Google Plus</a></li>
                        <li><a class="white-text" href="#/">Twitter</a></li>
                        <li><a class="white-text" href="#/">LinkedIn</a></li>
                        <li><a class="white-text" href="#/">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://github.com/madili" target="_blank">madili</a>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"                
                asp-fallback-test="window.jQuery">
        </script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
