@{
    ViewData["Title"] = "About";
}

<h1>Sobre</h1>

<p>
    Desenvolvemos sistemas para nossos clientes e não para nós. 
	Cada situação com que nos deparamos nos faz mudar a direção para ir ao encontro dos anseios e necessidades dos projetos, 
	sempre seguindo uma diretriz básica que nos faça ter sucesso. Esse posicionamento fez com que a IT Extreme buscasse uma 
	metodologia de desenvolvimento e manutenção de sistemas flexível, interativa e incremental, uma filosofia baseada em princípios ágeis.
</p>
<p>
	Adotamos estratégias e técnicas do SCRUM, framework com diretrizes que contêm um conjunto de papéis pré-definidos, práticas e conceitos ágeis. 
	Utilizando uma visão empírica, entendemos que problema, por vezes, pode não ser totalmente entendido ou definido, 
	desta forma concentramos nossos esforços na entrega antecipada de versões funcionais com o objetivo de detalhar assertivamente a solução final, 
	identificando mudanças e necessidades emergentes.
</p>
<p>
	Com esta estratégia em mente, embasamos nossa filosofia em:
	<div>
		<ul style="text-align: center;">
			<li><b>Indivíduos e interações</b>, mais que em processos e ferramentas</li>
			<li><b>Software em funcionamento</b>, mais que documentação abrangente</li>
			<li><b>Colaboração com o cliente</b>, mais que negociação de contratos</li>
			<li><b>Responder a mudanças</b>, mais que seguir um plano</li>
		</ul>
	</div>
</p>
<p>
	Não desprezamos os valores à direita, só acreditamos que os da esquerda têm um valor agregado maior para nós e para nossos clientes.
</p>
<p>
	Estes itens são a base do Manifesto para Desenvolvimento Ágil de Software, e vão de diretamente de encontro com nossa forma de pensar.​
</p>

<div class="section">
	<!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">            
            <h5 class="center">Missão</h5>
            <p class="light">
				Contribuir para o crescimento da competitividade de nossos clientes através do fornecimento de produtos e serviços sólidos, 
				seguros e de qualidade, levando o uso da tecnologia da informação ao seu extremo, enfatizando a evolução profissional e pessoal de nossa equipe, 
				sempre de forma ética, preocupando-nos com o bem estar da sociedade e respeitando o meio ambiente.
			</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">            
            <h5 class="center">Visão</h5>
            <p class="light">
				Ser reconhecida no segmento de serviços e produtos na área de tecnologia de informação, tornando-se um referencial no uso de tecnologias de ponta.
			</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">            
            <h5 class="center">Valores</h5>
            <p class="light">
				<i>- Integridade</i>: Agir com transparência e honestidade sempre. <br />
				<i>- Clientes</i>: Busca constante da satisfação. Atuando de maneira transparente, honesta e ética, entregando criatividade com qualidade. <br />
				<i>- Colaboradores</i>: Nosso pilar fundamental. Buscamos promover e dar condições de realização pessoal e profissional, construindo equipes que atuem em harmonia. <br />
				<i>- Tecnologia de Ponta</i>: Pesquisa e Inovação é nossa força motriz. <br />
				<i>- Comunicação</i>: Manter um nível de comunicação com nossos clientes, parceiros e colaboradores é o que nos mantém alinhados para atingir nossos objetivos e as expectativas dos clientes.
			</p>
          </div>
        </div>
      </div>	
</div>
