@{
    ViewData["Title"] = "Contact";
}

<h1>Contato</h1>

<div class="section">
	<!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">email</i></h2>
            <h5 class="center">
				<a href="mailto:itextreme@itextreme.com.br">
					itextreme@itextreme.com.br
				</a>
			</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">phone</i></h2>
            <h5 class="center">+55 27 3237-0500</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">plus_one</i></h2>
            <h5 class="center">
				<a href="https://plus.google.com/103056963143005713863/about" target="_blank">Google Plus</a>
			</h5>
          </div>
        </div>
      </div>	
</div>