@{
    ViewData["Title"] = "Lifestyle";
}

<h1>Lifestyle</h1>

<h4>
	Pensamos diferente!
</h4>
<p>
	Trabalhamos com pessoas brilhantes e talentosas que não têm medo de pensar de maneira diferente. 
	Na verdade nós encorajamos isso! Pensando de maneira diferente nos inspiramos mutuamente, 
	e nossa maior fonte de inspiração vem dos nossos clientes. São suas ideias, objetivos e necessidades que guiam nosso pensamento, 
	e quanto mais ambiciosos elas forem, mais inspiração teremos para fazer o melhor trabalho possível.
</p>
<p>
	Nossa equipe possui profissionais com experiência e conhecimento de mais de 20 anos na área de TI aplicada a diversos segmentos como: 
	montadoras, siderúrgicas, ferrovias, portos, empresas de TI, hospitais, engenharia, entre outros. 
	Esta vivência nos capacita a desenvolver soluções sólidas e criativas para os mais diversos tipos de necessidade.
</p>
<p>
	<b>Nossa obrigação</b>: Estarmos constantemente nos atualizando nas técnicas e tendências do mercado, e como consequência, 
	estarmos preparados para desenvolver soluções inovadoras e criativas.
</p>