@{
    ViewData["Title"] = "Solution";
}

<h1>Soluções</h1>

<p>
	Desenvolvemos sistemas de forma única, utilizando o poder tecnológico com cuidado artesanal, sempre buscando o máximo de qualidade. 
	Por isso estamos na vanguarda do segmento de TI, apostando no conceito de Criação de Software, 
	que envolve um processo de aculturamento, entendimento, criatividade e implementação.
</p>
<p>
	Somos apaixonados pelo que fazemos. 
	Utilizamos novos desafios para evoluir nossas habilidades, aumentar nossa experiência e alimentar nossa paixão. 
	Tudo com o único objetivo de criar soluções sob medida para o seu negócio.
</p>

<div class="section">
	<!--   Icon Section   -->
     <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Desenvolvimento</h5>

            <p class="light">
				Criamos Software de forma adaptável a cada cliente, personalizando soluções para atender suas necessidades de negócio. 
				Nossos sistemas são embasados em práticas de mercado consolidadas e em muita pesquisa e desenvolvimento. 
				Estamos sempre antenados ao que acontece no mercado de tecnologia, buscando sempre melhorar nossos produtos e soluções.
			</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Consultoria</h5>

            <p class="light">
				Nossos consultores auxiliam na adequação de processos para o desenvolvimento de sistemas e melhora da produtividade de sua empresa. 
				É muito comum que as corporações se deparem com projetos de alto custo de execução e manutenção e requisitos imprecisos que acarretam no atraso da entrega. 
				Atuamos nas áreas de arquitetura de software, adoção de ferramentas, frameworks, práticas e técnicas de TI avaliando os cenários, 
				diagnosticando ambientes e recomendando as soluções mais adequadas às demandas de cada cliente.
			</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Treinamento</h5>

			<p class="light">
			   Nos preocupamos com a satisfação dos nossos clientes em todos os momentos. Por essa razão, oferecemos treinamentos in-company de todas as tecnologias e ferramentas que utilizamos, sempre atendendo as demandas apresentadas.
			</p>
         </div>
       </div>
     </div>	
</div>